@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{

  background-color: #e2eff3;
  font-family: 'Open Sans', sans-serif;
}
.container{


  height: 50rem;
  width: 45rem;
  background-color: #071e22;
  margin-left: auto;
  margin-right: auto; 
margin-top: 5vh;
}
.navbar{
  display: flex;
  


  
}
.logo{
    width: 80px;
    height: 70px;
}
.Navbar-container{
 
  background-color: #212424;
  height: 70px;
  width: 100%;
}
.side-word{
  color: #ffff;
  padding-top: 27px;
  margin-left: 20vh;
}
.tagline{
  color: #00D7FF;
  padding-top: 8px;
  font-size: 40px;
  padding-left: -100px;
}
.main-header{
  color: #ffff;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 70px;
  margin-left: 40px;

}
ul>li{
  color: #ffff;
  margin-left: 60px;
  font-size: larger;
  margin-bottom: 25px;
  
}
 li span{
  color: #00D7FF;
 }